**Monday May 5, 2025 at 10:45 AM**

In [ ]:
#!/usr/bin/env python3
# Panutad Sirikul (French)
# 650510714
# customer_relationship_management
# 229496 Sec DS

### **Task Condition**
รบกวนขอดึงรายชื่อคุณแม่บ้าน เพื่อนำไปหาคุณแม่บ้านที่จะได้รับกระเป๋าฟรี เงื่อนไข คือ
1.	เป็นคุณแม่บ้านที่ Active ตั้งแต่วันที่ 1/01/2025 - 31/03/2025
2.	เป็นคุณแม่บ้านที่รับงาน >= 24 เดือน (2 ปี)
3.	ในระยะเวลา 3 เดือนย้อนหลัง มีการรับงาน >= 80 ชม.
4.	มีรีวิว >= 4.8 ดาว
5.	ปัญหาคุณภาพบริการ < 3 %
6.	ปัญหาการคืนงาน < 3 %

#### **Dataset**

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [18]:
order = pd.read_csv("order_raw.csv", low_memory=False)
order.tail()

            booking_id  professional_id        cleaning_date  total_hour
1091449     2503311FRG            12498  2025-03-31 18:00:00         2.0
1091450  250331TMP0FDP            12086  2025-03-31 15:00:00         2.0
1091451     250331XWU9            11275  2025-03-31 15:00:00         4.0
1091452  250331TMPWPER            10019  2025-03-31 16:00:00         4.0
1091453  250331TMPJC83             9834  2025-03-31 18:00:00         2.0

In [19]:
cancel = pd.read_csv("professional_cancel_raw.csv")
cancel.tail()

,report_date,professional_id,report_problem_id,problem_name
1089,2025-03-31 19:21:00,11690,34543,คืนงาน (ล่วงหน้า)
1090,2025-03-31 19:23:00,11003,34544,คืนงาน (ล่วงหน้า)
1091,2025-03-31 20:26:00,5186,34545,คืนงาน (โครงการป้อนงานคุณแม่บ้าน)
1092,2025-03-28 16:45:00,12103,34554,คืนงาน (กะทันหัน)
1093,2025-03-31 17:54:00,5444,34555,คืนงาน (กะทันหัน)

In [20]:
quality = pd.read_csv("professional_quality_problem_raw.csv")
quality.tail()

             report_date  professional_id  report_problem_id     problem_name
897  2025-03-10 06:30:00            12187              33923     แอร์ไม่เย็น
898  2025-03-10 06:37:00            12187              33931     แอร์ไม่เย็น
899  2025-02-24 08:06:00            11997              33516  แอร์มีเสียงดัง
900  2025-02-26 11:02:00            11997              33569  แอร์มีเสียงดัง
901  2025-03-28 10:51:00            12153              34385  แอร์มีเสียงดัง

In [21]:
rating = pd.read_csv("professional_rating_raw.csv")
rating.tail()

        booking_id  professional_id  rating          review_date
296684  2504298PD1            10953     5.0  2025-04-29 16:12:19
296685  2504273879            12617     4.0  2025-04-29 16:13:26
296686  250425CRYX            12071     5.0  2025-04-29 16:18:59
296687  250427ZXX8             1256     5.0  2025-04-29 16:23:47
296688  250427G242            12125     5.0  2025-04-29 16:24:59

#### **1. Active professional_id since January 1st, 2025 - March 31st, 2025**

##### Filter all dataset to have only the date as mentioned

In [22]:
# Create a active_date column
order[["active_date", "time"]] = order["cleaning_date"].str.split(" ", expand=True)
cancel[["active_date", "time"]] = cancel["report_date"].str.split(" ", expand=True)
quality[["active_date", "time"]] = quality["report_date"].str.split(" ", expand=True)
rating[["active_date", "time"]] = rating["review_date"].str.split(" ", expand=True)

# Filter by active_date
order_filter = order[(order["active_date"] >= "2025-01-01") & (order["active_date"] <= "2025-03-31")]
cancel_filter = cancel[(cancel["active_date"] >= "2025-01-01") & (cancel["active_date"] <= "2025-03-31")]
quality_filter = quality[(quality["active_date"] >= "2025-01-01") & (quality["active_date"] <= "2025-03-31")]
rating_filter = rating[(rating["active_date"] >= "2025-01-01") & (rating["active_date"] <= "2025-03-31")]

In [32]:
# Check filtration results
print(f"order from '{order_filter["active_date"].min()}' to '{order_filter["active_date"].max()}'")
print(f"cancel from '{cancel_filter["active_date"].min()}' to '{cancel_filter["active_date"].max()}'")
print(f"quality from '{quality_filter["active_date"].min()}' to '{quality_filter["active_date"].max()}'")
print(f"rating from '{rating_filter["active_date"].min()}' to '{rating_filter["active_date"].max()}'")

order from '2025-01-01' to '2025-03-31'
cancel from '2025-01-01' to '2025-03-31'
quality from '2025-01-01' to '2025-03-31'
rating from '2025-01-01' to '2025-03-31'

##### **All active professional_id during this period**

In [40]:
order_filter[["professional_id", "active_date", "total_hour"]].sort_values(by="active_date")

         professional_id active_date  total_hour
1022185             8412  2025-01-01         2.0
1017904             3351  2025-01-01         2.0
1003600             5344  2025-01-01         2.0
1022028            11017  2025-01-01         2.0
1021269             6810  2025-01-01         2.5
...                  ...         ...         ...
1066714             8358  2025-03-31         3.0
1085302            11894  2025-03-31         2.0
1022957            10101  2025-03-31         2.0
1066521             5696  2025-03-31         4.0
1091453             9834  2025-03-31         2.0

[80486 rows x 3 columns]

We'll deal with duplicate professional_id later...

In [45]:
order_filter["professional_id"].value_counts()

professional_id
11562    239
732      231
250      219
11665    217
11528    212
        ...
3341       1
12208      1
10788      1
11043      1
7748       1
Name: count, Length: 2294, dtype: int64

#### **2. Work Accept professional_id ≥ 24 Months (2 Years)**

##### Find professional_ids that have been active for at least 24 distinct months before 2025-01-01

In [46]:
print(f"order from '{order["active_date"].min()}' to '{order["active_date"].max()}'")

order from '2016-03-26' to '2025-03-31'

In [47]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091454 entries, 0 to 1091453
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   booking_id       1091454 non-null  object
 1   professional_id  1091454 non-null  int64
 2   cleaning_date    1091454 non-null  object
 3   total_hour       1091454 non-null  float64
 4   active_date      1091454 non-null  object
 5   time             1091454 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 50.0+ MB

In [49]:
# Make sure the active_date has a dtype of datetime
order["active_date"] = pd.to_datetime(order["active_date"])

# Filter only dates before 2025-01-01
cutoff_date = pd.Timestamp("2025-01-01")
filtered = order[order["active_date"] < cutoff_date].copy()

# Extract year and month as a single period (e.g., 2016-03)
filtered["year_month"] = filtered["active_date"].dt.to_period("M")

# Count distinct months per professional
monthly_counts = (filtered.groupby("professional_id")["year_month"].nunique().reset_index(name="month_count"))
monthly_counts.head()

   professional_id  month_count
0                5           12
1                6            2
2                7           11
3                8            2
4                9           21

In [51]:
# Filter professionals active in at least 24 months
result = monthly_counts[monthly_counts["month_count"] >= 24]
result

      professional_id  month_count
10                 19          102
12                 21          103
15                 24          102
17                 26           45
18                 28          100
...               ...          ...
4119             7758           24
4123             7773           24
4124             7774           24
4128             7781           24
4131             7788           24

[853 rows x 2 columns]

#### **3. Total Hours ≥ 80 Hours (2025-01-01 to 2025-03-31)**

In [63]:
temp = order_filter[order_filter["professional_id"] == 155]
temp["total_hour"].sum()

np.float64(96.5)

In [58]:
# Group and filter professional_id by total_hour ≥ 80
high_hour_ids = (
    order_filter.groupby("professional_id")["total_hour"]
    .sum()
    .reset_index()
    .query("total_hour >= 80")["professional_id"]
)
# Filter order_filter to only those professional_ids
order_filter_high_hour = order_filter[order_filter["professional_id"].isin(high_hour_ids)]
order_filter_high_hour

,booking_id,professional_id,cleaning_date,total_hour,active_date,time
45830,62349,10890,2025-03-03 17:00:00,2.0,2025-03-03,17:00:00
65533,84447,8409,2025-01-19 09:00:00,6.0,2025-01-19,09:00:00
98458,121641,7935,2025-03-23 14:00:00,3.0,2025-03-23,14:00:00
140820,169608,12180,2025-03-29 10:00:00,6.0,2025-03-29,10:00:00
148111,177682,11313,2025-02-10 10:30:00,2.0,2025-02-10,10:30:00
...,...,...,...,...,...,...
1091447,250331TMPFRKU,10490,2025-03-31 13:30:00,3.0,2025-03-31,13:30:00
1091448,250331TMP6W77,11766,2025-03-31 14:00:00,2.0,2025-03-31,14:00:00
1091450,250331TMP0FDP,12086,2025-03-31 15:00:00,2.0,2025-03-31,15:00:00
1091451,250331XWU9,11275,2025-03-31 15:00:00,4.0,2025-03-31,15:00:00
1091453,250331TMPJC83,9834,2025-03-31 18:00:00,2.0,2025-03-31,18:00:00

#### 4. Have a Review score of ≥ 4.8 ⭐⭐⭐⭐

In [80]:
review_filter = rating_filter[rating_filter["professional_id"].isin(order_filter_high_hour["professional_id"])]
review_filter

,booking_id,professional_id,rating,review_date,active_date,time
273848,2412294F7S,5859,5.0,2025-01-01 01:15:17,2025-01-01,01:15:17
273850,241230GWV4,9503,5.0,2025-01-01 02:18:09,2025-01-01,02:18:09
273852,2405157J5L,5341,5.0,2025-01-01 06:17:13,2025-01-01,06:17:13
273853,2412288UMP,8581,5.0,2025-01-01 08:23:33,2025-01-01,08:23:33
273854,241202YSWA,6610,5.0,2025-01-01 08:53:58,2025-01-01,08:53:58
...,...,...,...,...,...,...
291341,250310YMLY,5788,5.0,2025-03-31 22:49:05,2025-03-31,22:49:05
291342,241122TMP9MFC,10305,5.0,2025-03-31 22:50:47,2025-03-31,22:50:47
291343,250331UAZ9,11411,2.0,2025-03-31 22:56:29,2025-03-31,22:56:29
291344,250330VXTK,9191,5.0,2025-03-31 22:56:46,2025-03-31,22:56:46
291346,250324QCLU,10216,5.0,2025-03-31 23:15:50,2025-03-31,23:15:50

In [81]:
review_filter = review_filter[review_filter["rating"] >= 4.8]
review_filter

,booking_id,professional_id,rating,review_date,active_date,time
273848,2412294F7S,5859,5.0,2025-01-01 01:15:17,2025-01-01,01:15:17
273850,241230GWV4,9503,5.0,2025-01-01 02:18:09,2025-01-01,02:18:09
273852,2405157J5L,5341,5.0,2025-01-01 06:17:13,2025-01-01,06:17:13
273853,2412288UMP,8581,5.0,2025-01-01 08:23:33,2025-01-01,08:23:33
273854,241202YSWA,6610,5.0,2025-01-01 08:53:58,2025-01-01,08:53:58
...,...,...,...,...,...,...
291340,2502276PNN,10111,5.0,2025-03-31 22:48:43,2025-03-31,22:48:43
291341,250310YMLY,5788,5.0,2025-03-31 22:49:05,2025-03-31,22:49:05
291342,241122TMP9MFC,10305,5.0,2025-03-31 22:50:47,2025-03-31,22:50:47
291344,250330VXTK,9191,5.0,2025-03-31 22:56:46,2025-03-31,22:56:46
291346,250324QCLU,10216,5.0,2025-03-31 23:15:50,2025-03-31,23:15:50

#### **5. Have Service Quality Problem < 3 %**

Filter review_filter for professional_ids that have < 3% of complaints (from quality_filter), relative to their total reviews

In [89]:
quality_filter

,report_date,professional_id,report_problem_id,problem_name,active_date,time
0,2025-01-02 15:59:00,9280,32218,เข้าให้บริการสาย,2025-01-02,15:59:00
1,2025-01-11 10:30:00,10555,32434,เข้าให้บริการสาย,2025-01-11,10:30:00
2,2025-01-13 17:22:00,11144,32504,เข้าให้บริการสาย,2025-01-13,17:22:00
3,2025-01-17 18:30:00,11760,32598,เข้าให้บริการสาย,2025-01-17,18:30:00
4,2025-01-18 10:21:00,11760,32606,เข้าให้บริการสาย,2025-01-18,10:21:00
...,...,...,...,...,...,...
897,2025-03-10 06:30:00,12187,33923,แอร์ไม่เย็น,2025-03-10,06:30:00
898,2025-03-10 06:37:00,12187,33931,แอร์ไม่เย็น,2025-03-10,06:37:00
899,2025-02-24 08:06:00,11997,33516,แอร์มีเสียงดัง,2025-02-24,08:06:00
900,2025-02-26 11:02:00,11997,33569,แอร์มีเสียงดัง,2025-02-26,11:02:00
901,2025-03-28 10:51:00,12153,34385,แอร์มีเสียงดัง,2025-03-28,10:51:00

In [87]:
# Count reviews per professional
review_counts = review_filter["professional_id"].value_counts().rename("total_reviews")

# Count quality reports per professional
quality_counts = quality_filter["professional_id"].value_counts().rename("total_issue")

In [88]:
# Combine counts
combined = pd.concat([review_counts, quality_counts], axis=1).fillna(0)

# Calculate complaint percentage (%)
combined["complaint_pct"] = (combined["total_issue"] / combined["total_reviews"]) * 100

# Filter for < 3%
low_complaint_ids = combined[combined["complaint_pct"] < 3].index

# Filter review_filter
review_quality_filter = review_filter[review_filter["professional_id"].isin(low_complaint_ids)]
review_quality_filter

,booking_id,professional_id,rating,review_date,active_date,time
273848,2412294F7S,5859,5.0,2025-01-01 01:15:17,2025-01-01,01:15:17
273853,2412288UMP,8581,5.0,2025-01-01 08:23:33,2025-01-01,08:23:33
273854,241202YSWA,6610,5.0,2025-01-01 08:53:58,2025-01-01,08:53:58
273856,24122983NR,239,5.0,2025-01-01 09:52:59,2025-01-01,09:52:59
273858,2412132WHP,2748,5.0,2025-01-01 11:02:30,2025-01-01,11:02:30
...,...,...,...,...,...,...
291336,2501216RKP,6768,5.0,2025-03-31 21:38:12,2025-03-31,21:38:12
291337,250330N123,10682,5.0,2025-03-31 21:52:17,2025-03-31,21:52:17
291340,2502276PNN,10111,5.0,2025-03-31 22:48:43,2025-03-31,22:48:43
291341,250310YMLY,5788,5.0,2025-03-31 22:49:05,2025-03-31,22:49:05
291346,250324QCLU,10216,5.0,2025-03-31 23:15:50,2025-03-31,23:15:50

#### **6. Have Service Cancel Problem < 3 %**

Filter review_quality_filter to include only those professional_ids who have < 3% service cancel problems

In [91]:
# Count number of reviews per professional from review_quality_filter
review_counts = review_quality_filter["professional_id"].value_counts().rename("total_reviews")

# Count number of cancels per professional
cancel_counts = cancel_filter["professional_id"].value_counts().rename("total_cancels")

In [93]:
# Combine counts
combined_cancel = pd.concat([review_counts, cancel_counts], axis=1).fillna(0)

# Calculate cancel rate
combined_cancel["cancel_pct"] = (combined_cancel["total_cancels"] / combined_cancel["total_reviews"]) * 100

# FIlter for < 3% cancels
low_cancel_ids = combined_cancel[combined_cancel["cancel_pct"] < 3].index

# Filter review_quality_filter
review_cancel_filter = review_quality_filter[review_quality_filter["professional_id"].isin(low_cancel_ids)]
review_cancel_filter

,booking_id,professional_id,rating,review_date,active_date,time
273848,2412294F7S,5859,5.0,2025-01-01 01:15:17,2025-01-01,01:15:17
273854,241202YSWA,6610,5.0,2025-01-01 08:53:58,2025-01-01,08:53:58
273856,24122983NR,239,5.0,2025-01-01 09:52:59,2025-01-01,09:52:59
273858,2412132WHP,2748,5.0,2025-01-01 11:02:30,2025-01-01,11:02:30
273860,241206TMPE672,4704,5.0,2025-01-01 11:03:07,2025-01-01,11:03:07
...,...,...,...,...,...,...
291333,250330T8CL,9600,5.0,2025-03-31 21:15:33,2025-03-31,21:15:33
291336,2501216RKP,6768,5.0,2025-03-31 21:38:12,2025-03-31,21:38:12
291337,250330N123,10682,5.0,2025-03-31 21:52:17,2025-03-31,21:52:17
291340,2502276PNN,10111,5.0,2025-03-31 22:48:43,2025-03-31,22:48:43
291341,250310YMLY,5788,5.0,2025-03-31 22:49:05,2025-03-31,22:49:05

#### **7. Group remaining professional_id by Work Accept ≥ 24 months**

In [94]:
loyal_professional = review_cancel_filter[review_cancel_filter["professional_id"].isin(result["professional_id"])]
loyal_professional

,booking_id,professional_id,rating,review_date,active_date,time
273848,2412294F7S,5859,5.0,2025-01-01 01:15:17,2025-01-01,01:15:17
273854,241202YSWA,6610,5.0,2025-01-01 08:53:58,2025-01-01,08:53:58
273856,24122983NR,239,5.0,2025-01-01 09:52:59,2025-01-01,09:52:59
273887,241231Q94S,238,5.0,2025-01-01 13:50:07,2025-01-01,13:50:07
273902,24123112G3,239,5.0,2025-01-01 15:22:16,2025-01-01,15:22:16
...,...,...,...,...,...,...
291322,240930TMPXN90,644,5.0,2025-03-31 20:36:16,2025-03-31,20:36:16
291325,250313PCRV,732,5.0,2025-03-31 20:52:43,2025-03-31,20:52:43
291331,2502104KN0,732,5.0,2025-03-31 21:08:27,2025-03-31,21:08:27
291336,2501216RKP,6768,5.0,2025-03-31 21:38:12,2025-03-31,21:38:12
291341,250310YMLY,5788,5.0,2025-03-31 22:49:05,2025-03-31,22:49:05

In [98]:
loyal_summary = loyal_professional.groupby("professional_id").first().reset_index()
loyal_summary

,professional_id,booking_id,rating,review_date,active_date,time
0,21,241217HMAF,5.0,2025-01-06 01:33:33,2025-01-06,01:33:33
1,155,250217HNFP,5.0,2025-02-21 17:46:28,2025-02-21,17:46:28
2,203,240924TMP4RX5,5.0,2025-01-10 18:04:08,2025-01-10,18:04:08
3,233,2501076KZS,5.0,2025-01-12 18:35:16,2025-01-12,18:35:16
4,238,241231Q94S,5.0,2025-01-01 13:50:07,2025-01-01,13:50:07
...,...,...,...,...,...,...
164,7716,2502071GG3,5.0,2025-02-10 14:45:51,2025-02-10,14:45:51
165,7717,241227H7XG,5.0,2025-01-02 02:51:53,2025-01-02,02:51:53
166,7721,241104D0Z5,5.0,2025-01-04 15:26:15,2025-01-04,15:26:15
167,7773,241206U66X,5.0,2025-01-01 20:28:26,2025-01-01,20:28:26
168,7781,250206L0J8,5.0,2025-02-10 15:32:20,2025-02-10,15:32:20

##### Visualize Rewarded Profesionals

In [108]:
import plotly.express as px

# Plot graph
fig = px.bar(
    loyal_summary,
    y="rating",
    title="Rating per Professional",
    labels={"rating": "Rating score"}
)

fig.update_layout(xaxis_tickangle=-45) # Rotate label for readablity
fig.show()

#### **8. Other Data Insights**

We'll continue our analysis in Power BI